Circolo Simulazione/CircoloWebClient/xml-resources/web-service-references/CircoloEJB/wsdl/localhost_8080/CircoloEJBService/CircoloEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unisa.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unisa.it/" name="CircoloEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://unisa.it/" schemaLocation="http://localhost:8080/CircoloEJBService/CircoloEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="creaCircolo">
<part name="parameters" element="tns:creaCircolo"/>
</message>
<message name="creaCircoloResponse">
<part name="parameters" element="tns:creaCircoloResponse"/>
</message>
<message name="eliminaCircolo">
<part name="parameters" element="tns:eliminaCircolo"/>
</message>
<message name="eliminaCircoloResponse">
<part name="parameters" element="tns:eliminaCircoloResponse"/>
</message>
<message name="ottieniPerRegione">
<part name="parameters" element="tns:ottieniPerRegione"/>
</message>
<message name="ottieniPerRegioneResponse">
<part name="parameters" element="tns:ottieniPerRegioneResponse"/>
</message>
<message name="ottieniPerProvincia">
<part name="parameters" element="tns:ottieniPerProvincia"/>
</message>
<message name="ottieniPerProvinciaResponse">
<part name="parameters" element="tns:ottieniPerProvinciaResponse"/>
</message>
<message name="ottieniCircolo">
<part name="parameters" element="tns:ottieniCircolo"/>
</message>
<message name="ottieniCircoloResponse">
<part name="parameters" element="tns:ottieniCircoloResponse"/>
</message>
<message name="aggiornaCircolo">
<part name="parameters" element="tns:aggiornaCircolo"/>
</message>
<message name="aggiornaCircoloResponse">
<part name="parameters" element="tns:aggiornaCircoloResponse"/>
</message>
<message name="ottieniCircoli">
<part name="parameters" element="tns:ottieniCircoli"/>
</message>
<message name="ottieniCircoliResponse">
<part name="parameters" element="tns:ottieniCircoliResponse"/>
</message>
<portType name="CircoloEJB">
<operation name="creaCircolo">
<input wsam:Action="http://unisa.it/CircoloEJB/creaCircoloRequest" message="tns:creaCircolo"/>
<output wsam:Action="http://unisa.it/CircoloEJB/creaCircoloResponse" message="tns:creaCircoloResponse"/>
</operation>
<operation name="eliminaCircolo">
<input wsam:Action="http://unisa.it/CircoloEJB/eliminaCircoloRequest" message="tns:eliminaCircolo"/>
<output wsam:Action="http://unisa.it/CircoloEJB/eliminaCircoloResponse" message="tns:eliminaCircoloResponse"/>
</operation>
<operation name="ottieniPerRegione">
<input wsam:Action="http://unisa.it/CircoloEJB/ottieniPerRegioneRequest" message="tns:ottieniPerRegione"/>
<output wsam:Action="http://unisa.it/CircoloEJB/ottieniPerRegioneResponse" message="tns:ottieniPerRegioneResponse"/>
</operation>
<operation name="ottieniPerProvincia">
<input wsam:Action="http://unisa.it/CircoloEJB/ottieniPerProvinciaRequest" message="tns:ottieniPerProvincia"/>
<output wsam:Action="http://unisa.it/CircoloEJB/ottieniPerProvinciaResponse" message="tns:ottieniPerProvinciaResponse"/>
</operation>
<operation name="ottieniCircolo">
<input wsam:Action="http://unisa.it/CircoloEJB/ottieniCircoloRequest" message="tns:ottieniCircolo"/>
<output wsam:Action="http://unisa.it/CircoloEJB/ottieniCircoloResponse" message="tns:ottieniCircoloResponse"/>
</operation>
<operation name="aggiornaCircolo">
<input wsam:Action="http://unisa.it/CircoloEJB/aggiornaCircoloRequest" message="tns:aggiornaCircolo"/>
<output wsam:Action="http://unisa.it/CircoloEJB/aggiornaCircoloResponse" message="tns:aggiornaCircoloResponse"/>
</operation>
<operation name="ottieniCircoli">
<input wsam:Action="http://unisa.it/CircoloEJB/ottieniCircoliRequest" message="tns:ottieniCircoli"/>
<output wsam:Action="http://unisa.it/CircoloEJB/ottieniCircoliResponse" message="tns:ottieniCircoliResponse"/>
</operation>
</portType>
<binding name="CircoloEJBPortBinding" type="tns:CircoloEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="creaCircolo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaCircolo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ottieniPerRegione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ottieniPerProvincia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ottieniCircolo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaCircolo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ottieniCircoli">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CircoloEJBService">
<port name="CircoloEJBPort" binding="tns:CircoloEJBPortBinding">
<soap:address location="http://localhost:8080/CircoloEJBService/CircoloEJB"/>
</port>
</service>
</definitions>