Task Simulazione/TaskWebClient/xml-resources/web-service-references/TaskEJB/wsdl/localhost_8080/TaskEJBService/TaskEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unisa.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unisa.it/" name="TaskEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://unisa.it/" schemaLocation="http://localhost:8080/TaskEJBService/TaskEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getTask">
<part name="parameters" element="tns:getTask"/>
</message>
<message name="getTaskResponse">
<part name="parameters" element="tns:getTaskResponse"/>
</message>
<message name="getByMinHoursWork">
<part name="parameters" element="tns:getByMinHoursWork"/>
</message>
<message name="getByMinHoursWorkResponse">
<part name="parameters" element="tns:getByMinHoursWorkResponse"/>
</message>
<message name="updateTask">
<part name="parameters" element="tns:updateTask"/>
</message>
<message name="updateTaskResponse">
<part name="parameters" element="tns:updateTaskResponse"/>
</message>
<message name="removeTask">
<part name="parameters" element="tns:removeTask"/>
</message>
<message name="removeTaskResponse">
<part name="parameters" element="tns:removeTaskResponse"/>
</message>
<message name="createTask">
<part name="parameters" element="tns:createTask"/>
</message>
<message name="createTaskResponse">
<part name="parameters" element="tns:createTaskResponse"/>
</message>
<message name="getByTipe">
<part name="parameters" element="tns:getByTipe"/>
</message>
<message name="getByTipeResponse">
<part name="parameters" element="tns:getByTipeResponse"/>
</message>
<message name="getByAssignee">
<part name="parameters" element="tns:getByAssignee"/>
</message>
<message name="getByAssigneeResponse">
<part name="parameters" element="tns:getByAssigneeResponse"/>
</message>
<message name="getNotAssigned">
<part name="parameters" element="tns:getNotAssigned"/>
</message>
<message name="getNotAssignedResponse">
<part name="parameters" element="tns:getNotAssignedResponse"/>
</message>
<message name="getNotComplete">
<part name="parameters" element="tns:getNotComplete"/>
</message>
<message name="getNotCompleteResponse">
<part name="parameters" element="tns:getNotCompleteResponse"/>
</message>
<message name="getAllTasks">
<part name="parameters" element="tns:getAllTasks"/>
</message>
<message name="getAllTasksResponse">
<part name="parameters" element="tns:getAllTasksResponse"/>
</message>
<message name="getByHoursWork">
<part name="parameters" element="tns:getByHoursWork"/>
</message>
<message name="getByHoursWorkResponse">
<part name="parameters" element="tns:getByHoursWorkResponse"/>
</message>
<message name="getStarted">
<part name="parameters" element="tns:getStarted"/>
</message>
<message name="getStartedResponse">
<part name="parameters" element="tns:getStartedResponse"/>
</message>
<portType name="TaskEJB">
<operation name="getTask">
<input wsam:Action="http://unisa.it/TaskEJB/getTaskRequest" message="tns:getTask"/>
<output wsam:Action="http://unisa.it/TaskEJB/getTaskResponse" message="tns:getTaskResponse"/>
</operation>
<operation name="getByMinHoursWork">
<input wsam:Action="http://unisa.it/TaskEJB/getByMinHoursWorkRequest" message="tns:getByMinHoursWork"/>
<output wsam:Action="http://unisa.it/TaskEJB/getByMinHoursWorkResponse" message="tns:getByMinHoursWorkResponse"/>
</operation>
<operation name="updateTask">
<input wsam:Action="http://unisa.it/TaskEJB/updateTaskRequest" message="tns:updateTask"/>
<output wsam:Action="http://unisa.it/TaskEJB/updateTaskResponse" message="tns:updateTaskResponse"/>
</operation>
<operation name="removeTask">
<input wsam:Action="http://unisa.it/TaskEJB/removeTaskRequest" message="tns:removeTask"/>
<output wsam:Action="http://unisa.it/TaskEJB/removeTaskResponse" message="tns:removeTaskResponse"/>
</operation>
<operation name="createTask">
<input wsam:Action="http://unisa.it/TaskEJB/createTaskRequest" message="tns:createTask"/>
<output wsam:Action="http://unisa.it/TaskEJB/createTaskResponse" message="tns:createTaskResponse"/>
</operation>
<operation name="getByTipe">
<input wsam:Action="http://unisa.it/TaskEJB/getByTipeRequest" message="tns:getByTipe"/>
<output wsam:Action="http://unisa.it/TaskEJB/getByTipeResponse" message="tns:getByTipeResponse"/>
</operation>
<operation name="getByAssignee">
<input wsam:Action="http://unisa.it/TaskEJB/getByAssigneeRequest" message="tns:getByAssignee"/>
<output wsam:Action="http://unisa.it/TaskEJB/getByAssigneeResponse" message="tns:getByAssigneeResponse"/>
</operation>
<operation name="getNotAssigned">
<input wsam:Action="http://unisa.it/TaskEJB/getNotAssignedRequest" message="tns:getNotAssigned"/>
<output wsam:Action="http://unisa.it/TaskEJB/getNotAssignedResponse" message="tns:getNotAssignedResponse"/>
</operation>
<operation name="getNotComplete">
<input wsam:Action="http://unisa.it/TaskEJB/getNotCompleteRequest" message="tns:getNotComplete"/>
<output wsam:Action="http://unisa.it/TaskEJB/getNotCompleteResponse" message="tns:getNotCompleteResponse"/>
</operation>
<operation name="getAllTasks">
<input wsam:Action="http://unisa.it/TaskEJB/getAllTasksRequest" message="tns:getAllTasks"/>
<output wsam:Action="http://unisa.it/TaskEJB/getAllTasksResponse" message="tns:getAllTasksResponse"/>
</operation>
<operation name="getByHoursWork">
<input wsam:Action="http://unisa.it/TaskEJB/getByHoursWorkRequest" message="tns:getByHoursWork"/>
<output wsam:Action="http://unisa.it/TaskEJB/getByHoursWorkResponse" message="tns:getByHoursWorkResponse"/>
</operation>
<operation name="getStarted">
<input wsam:Action="http://unisa.it/TaskEJB/getStartedRequest" message="tns:getStarted"/>
<output wsam:Action="http://unisa.it/TaskEJB/getStartedResponse" message="tns:getStartedResponse"/>
</operation>
</portType>
<binding name="TaskEJBPortBinding" type="tns:TaskEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByMinHoursWork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByTipe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByAssignee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNotAssigned">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNotComplete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllTasks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByHoursWork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStarted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TaskEJBService">
<port name="TaskEJBPort" binding="tns:TaskEJBPortBinding">
<soap:address location="http://localhost:8080/TaskEJBService/TaskEJB"/>
</port>
</service>
</definitions>