Negozio Simulazione/NegoziWebClient/xml-resources/web-service-references/NegozioEJB/wsdl/localhost_8080/NegozioEJBService/NegozioEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unisa.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unisa.it/" name="NegozioEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://unisa.it/" schemaLocation="http://localhost:8080/NegozioEJBService/NegozioEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="createNegozio">
<part name="parameters" element="tns:createNegozio"/>
</message>
<message name="createNegozioResponse">
<part name="parameters" element="tns:createNegozioResponse"/>
</message>
<message name="removeNegozio">
<part name="parameters" element="tns:removeNegozio"/>
</message>
<message name="removeNegozioResponse">
<part name="parameters" element="tns:removeNegozioResponse"/>
</message>
<message name="updateNegozio">
<part name="parameters" element="tns:updateNegozio"/>
</message>
<message name="updateNegozioResponse">
<part name="parameters" element="tns:updateNegozioResponse"/>
</message>
<message name="getNegozio">
<part name="parameters" element="tns:getNegozio"/>
</message>
<message name="getNegozioResponse">
<part name="parameters" element="tns:getNegozioResponse"/>
</message>
<message name="printByRegion">
<part name="parameters" element="tns:printByRegion"/>
</message>
<message name="printByRegionResponse">
<part name="parameters" element="tns:printByRegionResponse"/>
</message>
<message name="printActiveShops">
<part name="parameters" element="tns:printActiveShops"/>
</message>
<message name="printActiveShopsResponse">
<part name="parameters" element="tns:printActiveShopsResponse"/>
</message>
<message name="print">
<part name="parameters" element="tns:print"/>
</message>
<message name="printResponse">
<part name="parameters" element="tns:printResponse"/>
</message>
<portType name="NegozioEJB">
<operation name="createNegozio">
<input wsam:Action="http://unisa.it/NegozioEJB/createNegozioRequest" message="tns:createNegozio"/>
<output wsam:Action="http://unisa.it/NegozioEJB/createNegozioResponse" message="tns:createNegozioResponse"/>
</operation>
<operation name="removeNegozio">
<input wsam:Action="http://unisa.it/NegozioEJB/removeNegozioRequest" message="tns:removeNegozio"/>
<output wsam:Action="http://unisa.it/NegozioEJB/removeNegozioResponse" message="tns:removeNegozioResponse"/>
</operation>
<operation name="updateNegozio">
<input wsam:Action="http://unisa.it/NegozioEJB/updateNegozioRequest" message="tns:updateNegozio"/>
<output wsam:Action="http://unisa.it/NegozioEJB/updateNegozioResponse" message="tns:updateNegozioResponse"/>
</operation>
<operation name="getNegozio">
<input wsam:Action="http://unisa.it/NegozioEJB/getNegozioRequest" message="tns:getNegozio"/>
<output wsam:Action="http://unisa.it/NegozioEJB/getNegozioResponse" message="tns:getNegozioResponse"/>
</operation>
<operation name="printByRegion">
<input wsam:Action="http://unisa.it/NegozioEJB/printByRegionRequest" message="tns:printByRegion"/>
<output wsam:Action="http://unisa.it/NegozioEJB/printByRegionResponse" message="tns:printByRegionResponse"/>
</operation>
<operation name="printActiveShops">
<input wsam:Action="http://unisa.it/NegozioEJB/printActiveShopsRequest" message="tns:printActiveShops"/>
<output wsam:Action="http://unisa.it/NegozioEJB/printActiveShopsResponse" message="tns:printActiveShopsResponse"/>
</operation>
<operation name="print">
<input wsam:Action="http://unisa.it/NegozioEJB/printRequest" message="tns:print"/>
<output wsam:Action="http://unisa.it/NegozioEJB/printResponse" message="tns:printResponse"/>
</operation>
</portType>
<binding name="NegozioEJBPortBinding" type="tns:NegozioEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printByRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printActiveShops">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="print">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NegozioEJBService">
<port name="NegozioEJBPort" binding="tns:NegozioEJBPortBinding">
<soap:address location="http://localhost:8080/NegozioEJBService/NegozioEJB"/>
</port>
</service>
</definitions>